{% extends 'layout.html.twig' %}

{% block body %}
    {{ parent() }}
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <script>alert('{{ flashMessage }}');</script>
    {% endfor %}
    
    <section class="jumbotron">
        <div class="container">
            <h2>Bienvenido</h2>
        </div>
    </section>
{% endblock %}